* {
  box-sizing: border-box;
}
body {
  font: 10px sans-serif;
}
.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
}
.header a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.header-center {
  float: center;
  text-align: center;
}

.line {
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#inputsec {
  background-color: teal;
  width: 320px;
  font-size: 1.5em;
  border-radius: 2%;
  color: white;
}
.container {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}
#inputsec {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 500px;
  min-width: 330px;
}
.inputbox,
.inputbox0,
.inputbox1,
.inputbox_xrange_labels,
.xrange_labels,
.labels,
.alphadiv,
.noofgroupsdiv {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.xrange_labels {
  margin-top: 0px;
}
.inputbox_xrange_labels,
.xrange_labels,
.labels {
  margin-top: 5px;
}
input {
  width: 50px;
}

#plotbutton {
  font-size: 0.8em;
  font-weight: 700;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#dropdown {
  width: 100px;
  height: 23px;
  margin-left: 40px;
}
#mues_dropdown,
#cov_dropdown {
  width: 50px;
}
.labels {
  list-style: none;
}
.box {
  position: relative;
  width: auto;
  height: auto;
}
#download-button,
#reset-button,
#expectation-button,
#maximization-button,
#sample-button,
#iterate-button,
#initialize-button {
  width: 100px;
}
#svg1 {
  border: 1px solid black;
}
#svg2 {
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: crosshair;
}
input:focus {
  background-color: grey;
  outline: none;
  color: white;
}
.radbtncontainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
input[type="radio"] {
  margin-left: 0;
}
.anovaresults {
  font-size: 1.5em;
}
g > text {
  font-size: 1.5em;
}
.outputbox2 {
  margin-top: 15px;
  width: 100%;
}
.outputboxheader {
  width: 100%;
}
.outputtable {
  width: 100%;
}
.tabs {
  width: 25%;
  height: 20px;
}
tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.outputtablediv1 {
  height: 100px;
  overflow-y: scroll;
}
.outputtablediv2 {
  height: 130px;
  overflow-y: scroll;
}
.circletext {
  font-size: 12px;
  z-index: -10;
  color: red;
}
circle {
  z-index: 5;
}
.mue_dropdown_div {
  display: flex;
  direction: row;
  justify-content: space-around;
}
th {
  margin: 0px 5px;
}
